# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm update npm -g; npm update -g; sudo gem update'

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Git
alias g="git"
alias gp="git pull"
alias gpom="git pom"
alias gpb="git pb"
alias grh="git rh"
alias gco="git co"
alias gcom="git co master"
alias gcob="git co -b"
alias gcl="git clone"
alias gc="git commit -m"
alias gca="git ca -m"
alias ga="git add"
alias gl="git l"
alias gm="git merge"
alias gmm="git merge master"
alias gs="git status"
alias gsh="git show"

# Misc bash
alias c="clear"

# npm 
alias ns="npm start"
alias nsd="npm run start:debug"
alias nsw="npm run start:watch"
alias ni="npm install"
alias nr="npm run"
alias nt="npm test" 
alias ntw="npm run test:watch"
alias ntf="npm run test:functional"
alias ntus="npm run test:updateSnapshot"
alias nrb="npm run build"
alias nrbw="npm run build:watch"
alias nrd="npm run dev"
alias nrf="npm run format"
alias nrl="npm run lint"
alias nrp="npm run publish"
alias nrs="npm run storybook"

# yarn
alias ys="yarn start"
alias ysd="yarn start:debug"
alias ysw="yarn start:watch"
alias yi="yarn install"
alias yr="yarn"
alias yt="yarn test" 
alias ytw="yarn test:watch"
alias ytf="yarn test:functional"
alias ytus="yarn test:updateSnapshot"
alias yrb="yarn build"
alias yrbw="yarn build:watch"
alias yrd="yarn dev"
alias yrf="yarn format"
alias yrl="yarn lint"
alias yrp="yarn publish"
alias yrs="yarn storybook"

# nvm
alias nu="nvm use"

## tmux
alias tmux="TERM=screen-256color-bce tmux"
alias tks="tmux kill-session"
alias tks!="tmux kill-server"

alias whatsmyip="dig @resolver1.opendns.com ANY myip.opendns.com +short"

## kubernetes
alias k="kubectl"
alias kl="kubelogin"

# vim
alias v="/usr/bin/vim"

# tree
alias t="tree"

# leinigen
alias lt="lein test"

# rubymine
alias rbm="/Applications/RubyMine.app/Contents/MacOS/rubymine"
